{{ define "main" }}
<div class="section">
	<div class="container">
		{{ partial "breadcrumb" . }}
		{{ partial "hero" . }}
		<!--
		<div class="notification is-light is-italic">
			<p>{{ i18n "publishedOn" . }} {{ i18n "publishedBy" . }}</p>
			<p>{{ i18n "updatedOn" . }}</p>
		</div>
		-->
		<div class="content has-text-justified">
			{{ .Content }}
		</div>
		{{ partial "additional-resources" . }}
	</div>
</div>
<div class="section">
	<div class="container">
		{{ partial "previous-next-pages" . }}
	</div>
</div>
{{ end }}
