{{ define "main" }}
<div class="section">
	<div class="container">
		{{ partial "breadcrumb" . }}
		{{ partial "hero" . }}
		<div class="content has-text-justified">
			{{ .Content }}
		</div>
		<div class="columns is-multiline">
			{{ range .Paginator.Pages }}
			<div class="column is-one-third">
				{{ partial "card" . }}
			</div>
			{{ end }}
		</div>
	</div>
</div>
<div class="section">
	<div class="container">
		{{ partial "pagination" . }}
	</div>
</div>
{{ end }}
