{{ define "main" }}
<div class="section">
	<div class="container">
		{{ partial "breadcrumb" . }}
		{{ partial "hero" . }}
		<div class="content has-text-justified">
			{{ .Content }}
		</div>
		{{ partial "additional-resources" . }}
	</div>
</div>
<div class="section">
	<div class="container">
		{{ partial "previous-next-pages" . }}
	</div>
</div>
{{ end }}
