{{ define "main" }}
<div class="section">
	<div class="container">
		{{ partial "breadcrumb" . }}
		<div class="hero is-dark is-medium block" {{ with .Params.banner }}
			style="background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('{{ . }}') center center; background-size: cover;"
			{{ end }}>
			<div class="hero-body">
				<div class="container">
					<h1 class="title is-1">
						{{ .Title }}
					</h1>
					<h2 class="title subtitle is-4">
						{{ i18n "allTheTags" . }}
					</h2>
				</div>
			</div>
		</div>
		<div class="content has-text-justified">
			{{ .Content }}
		</div>
		<div class="columns is-multiline">
			{{ range .Paginator.Pages }}
			<div class="column is-one-third">
				{{ partial "card" . }}
			</div>
			{{ end }}
		</div>
	</div>
</div>
<div class="section">
	<div class="container">
		{{ partial "pagination" . }}
	</div>
</div>
{{ end }}
