{{ define "main" }}
<div class="section">
	<div class="container">
		{{ partial "breadcrumb" . }}
		<div class="hero is-dark is-medium block" {{ with .Params.banner }}
			style="background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('{{ . }}') center center; background-size: cover;"
			{{ end }}>
			<div class="hero-body">
				<div class="container">
					<h1 class="title is-1">
						{{ .Title }}
					</h1>
					<h2 class="title subtitle is-4">
						{{ i18n "tagsSubtitle" . }}
					</h2>
				</div>
			</div>
		</div>
		<div class="content has-text-justified">
			{{ i18n "tagsDescription" . }}
		</div>
		<div class="tags">
			{{ range .Site.Taxonomies.tags }}
			<a class="tag is-light" href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
			{{ end }}
		</div>
	</div>
</div>
{{ end }}
