{{ $permalink := .Permalink }}
<div class="card">
	<div class="card-image">
		<figure class="image is-4by3">
			{{ with .Params.banner }}
			<a href="{{ $permalink }}"><img src="{{ . }}" alt=""></a>
			{{ end }}
		</figure>
	</div>
	<div class="card-content">
		<a href="{{ $permalink }}">
			<p class="title is-4">{{ .Title }}</p>
		</a>
		<br>
		<div class="content has-text-justified">
			{{ .Summary }}
			{{ if .Truncated }}
			[…]
			{{ end }}
		</div>
		<div class="tags">
			{{ range .Params.tags }}
			<a class="tag is-light" href="/tags/{{ . | urlize}}">{{ . }}</a>
			{{ end }}
		</div>
	</div>
	<footer class="card-footer">
		<a href="{{ $permalink }}" class="card-footer-item has-text-dark">{{ i18n "readMore" }}</a>
	</footer>
</div>
