<footer class="footer">
	<div class="container">
		<div class="columns is-vcentered">
			<div class="column is-one-quarter">
				<div class="content has-text-left has-text-centered-mobile has-text-light">
					Fait avec <i class="fas fa-heart has-text-danger"></i> à Cheyres
				</div>
			</div>
			<div class="column is-half">
				<div class="content has-text-centered has-text-centered-mobile has-text-light" style="vertical-align: middle;">
					Le contenu de ce site est distribué<br>
					sous la license <a class="has-text-light" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.fr">CC BY NC SA 4.0</a>.
				</div>
			</div>
			<div class="column is-one-quarter">
				<div class="content has-text-right has-text-centered-mobile">
					<span class="icon ml-2 mr-2"><a href="https://www.instagram.com/le_petit_hanneton/"><i
								class="fab fa-lg fa-instagram has-text-light"></i></a></span>
					<span class="icon ml-2 mr-2"><a href="https://t.me/le_petit_hanneton"><i
								class="fab fa-lg fa-telegram has-text-light"></i></a></span>
					<span class="icon ml-2 mr-2"><a href="https://discord.gg/STaf26P"><i
								class="fab fa-lg fa-discord has-text-light"></i></a></span>
					<span class="icon ml-2 mr-2"><a href="mailto:contact@le-petit-hanneton.ch"><i
								class="fas fa-lg fa-envelope has-text-light"></i></a></span>
				</div>
			</div>
		</div>
	</div>
</footer>
