<header class="header">
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="{{ .Site.BaseURL }}">
										<!--<img src="/images/logo.png" alt="logo" width="150" height="150">-->
										<h1 class="title is-4">Le petit hanneton</h1>
                </a>
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                    data-target="navbar-header">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="navbar-header" class="navbar-menu">
              <div class="navbar-end">
                  {{ $currentPage := . }}
                  {{ range .Site.Menus.main }}
                  {{ if .HasChildren }}
                  <div class="navbar-item has-dropdown has-text-weight-semibold is-hoverable">
                      <a class="navbar-link" href="{{ .URL }}">
                          {{ .Name }}
                      </a>
                      <div class="navbar-dropdown is-right">
                          {{ range .Children }}
                          <a class="navbar-item has-text-weight-medium" href="{{ .URL }}">
                              {{ .Name }}
                          </a>
                          {{ end }}
                      </div>
                  </div>
                  {{ else }}
                  <a class="navbar-item has-text-weight-semibold" href="{{ .URL }}">
                      {{ .Name }}
                  </a>
                  {{ end }}
                  {{ end }}
              </div>
            </div>
        </div>
    </nav>
</header>
