<nav class="pagination" role="navigation" aria-label="pagination">
	{{ with .NextInSection }}
	<a class="pagination-previous" href="{{ .Permalink }}">{{ i18n "previousPage" }}: {{ .Title }}</a>
	{{ else }}
	<a class="pagination-previous is-light" disabled>{{ i18n "previousPage" }}</a>
	{{ end }}
	{{ with .PrevInSection }}
	<a class="pagination-next" href="{{ .Permalink }}">{{ i18n "nextPage" }}: {{ .Title }}</a>
	{{ else }}
	<a class="pagination-next" disabled>{{ i18n "nextPage" }}</a>
	{{ end }}
</nav>
