{{ define "main" }}
<div class="section">
	<div class="container">
		{{ partial "hero" . }}
		<div class="content has-text-justified">
			{{ .Content }}
		</div>
	</div>
</div>
<div class="section">
	<div class="container">
		{{ with .Site.GetPage "section" "actualites" }}
		<h3 class="title is-3">{{ i18n "checkLatestNews" }}</h3>
		<div class="columns is-multiline">
			{{ range (first 4 .Pages) }}
			<div class="column is-one-third">
				{{ partial "card-with-author-and-date" . }}
			</div>
			{{ end }}
		</div>
		{{ end }}
	</div>
</div>
{{ end }}
