<div class="columns">
	<div class="column is-one-third">
		<div class="content">
				<span class="has-text-weight-bold">Le petit hanneton</span></br>
				Route du Tivoli 71</br>
				1468 Cheyres</br>
				Fribourg, Suisse
		</div>
		<div class="content">
			<div>
				<span class="icon mr-1" style="vertical-align: middle;"><i class="fas fa-mobile-alt fa-lg "></i></span>
				<span style="vertical-align: middle;"><a href="tel:+41 78 858 91 91">Yannis - +41 78 858 91 91</a></span>
			</div>
			<div>
				<span class="icon mr-1" style="vertical-align: middle;"><i class="fas fa-mobile-alt fa-lg "></i></span>
				<span style="vertical-align: middle;"><a href="tel:+41 79 840 67 60">Matthieu - +41 79 840 67 60</a></span>
			</div>
			<div>
				<span class="icon mr-1" style="vertical-align: middle;"><i class="fas fa-mobile-alt fa-lg "></i></span>
				<span style="vertical-align: middle;"><a href="tel:+41 76 439 91 57">Ludovic - +41 76 439 91 57</a></span>
			</div>
		</div>
		<div class="content">
			<div>
				<span class="icon mr-1" style="vertical-align: middle;"><i class="fab fa-lg fa-instagram"></i></span>
				<span style="vertical-align: middle;"><a href="https://www.instagram.com/le_petit_hanneton/">Instagram</a></span>
			</div>
			<div>
				<span class="icon mr-1" style="vertical-align: middle;"><i class="fab fa-lg fa-telegram"></i></span>
				<span style="vertical-align: middle;"><a href="https://t.me/le_petit_hanneton">Telegram</a></span>
			</div>
			<div>
				<span class="icon mr-1" style="vertical-align: middle;"><i class="fab fa-lg fa-discord"></i></span>
				<span style="vertical-align: middle;"><a href="https://discord.gg/STaf26P">Discord</a></span>
			</div>
			<div>
				<span class="icon mr-1" style="vertical-align: middle;"><i class="fas fa-lg fa-envelope"></i></span>
				<span style="vertical-align: middle;"><a href="mailto:contact@le-petit-hanneton.ch">Email</a></span>
			</div>
		</div>
		<div class="content">
			<span class="icon mr-1" style="vertical-align: middle;"><i class="fas fa-lg fa-clock"></i></span>
			<span style="vertical-align: middle;">C'est ouvert <i>presque</i> tous les jours !</span>
		</div>
		<div class="content">
			Il n'y a pas d'horaires précis au petit hanneton.</br>
			En général, il y a toujours quelqu'un à la maison pour vous accueillir. Mais si vous voulez être sûr.e, n'hésitez pas à nous lancer un coup de fil avant de passer !
		</div>
		<div class="content">
			Si nous ne répondons pas, laissez un petit message via Whatsapp / Telegram / SMS, nous y répondrons dès que possible !</br>
		</div>
		<!--
		<div class="content">
			<span class="icon mr-1" style="vertical-align: middle;"><i class="fas fa-lg fa-money-check-alt"></i></span>
			<span style="vertical-align: middle;">Coordonnées bancaires</span>
		</div>
		<div class="content">
			Vous souhaitez nous donner un coup de main financièrement ? Voici nos coordonnées bancaires:</br>
			IBAN: CH[...]
		</div>
		-->
	</div>
	<div class="column is-two-thirds">
		<iframe
			src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB9G3oh9meDmpWGb_PlJjvvAggK_FpzD3A&q=Le%20petit%20hanneton"
			frameborder="0"
			scrolling="no"
			width="100%"
			height="100%"
		>
		</iframe>
	</div>
</div>
