{{ $path := .Get 0 }}
{{ $hierarchy := split $path "/" }}
{{ $.Scratch.Set "dataFile" .Site.Data }}

<!-- Go through the data directory until the final file is found -->
{{ range $hierarchy }}
	{{ $.Scratch.Set "dataFile" (index ($.Scratch.Get "dataFile") .) }}
{{ end }}

{{ $dataFile := $.Scratch.Get "dataFile" }}

<table class="table is-striped is-narrow is-hoverable is-fullwidth">
	<thead>
	{{ range $dataFile.headers }}
		<th class="{{ .cssClasses }}"> 
			{{ .title | markdownify }}
		</th>
	{{ end}}
	</thead>
	<tbody>
	{{ range $row := $dataFile.rows }}
		<tr>
			{{ $.Scratch.Set "index" 0 }}
			{{ range $cell := $row }}
			{{ $currentIndex := $.Scratch.Get "index" }}
			{{ $nextIndex := add $currentIndex 1 }}
			<td class="{{ (index $dataFile.headers $currentIndex).cssClasses }}">{{ . | markdownify }}</td>
			{{ $.Scratch.Set "index" $nextIndex }}
			{{ end }}
		</tr>
	{{ end }}
	</tbody>
</table>
