<div class="column {{ .Get "column-classes" }}">
	<div class="card">
		<div class="card-image">
			<figure class="{{ .Get "figure-classes" }}">
                <div id="{{ .Get "src" }}" loading="lazy" alt="{{ .Get "alt" }}" />
			</figure>
		</div>
		{{ if or (ne (.Get "title") "") (ne (.Get "author") "") (ne (.Get "date") "") (ne (.Get "source") "") }}
		<div class="card-content">
			<div class="content has-text-centered">
				{{ with .Get "title" }}{{ . | markdownify }}{{ end }}
				{{ if and (ne (.Get "title") "") (or (ne (.Get "author") "") (ne (.Get "date") "") (ne (.Get "source") "")) }} · {{ end }}
				{{ with .Get "author" }}<span class="is-italic has-text-weight-medium">© {{ . }}</span>{{ end }}
				{{ if and (ne (.Get "author") "") (or (ne (.Get "title") "") (ne (.Get "date") "") (ne (.Get "source") "")) }} · {{ end }}
				{{ with .Get "date" }}{{ . }}{{ end }}
				{{ if and (ne (.Get "date") "") (or (ne (.Get "author") "") (ne (.Get "title") "") (ne (.Get "source") "")) }} · {{ end }}
				{{ with .Get "source" }}<a href="{{ . }}">{{ i18n "source" }}</a>{{ end }}
			</div>
		</div>
		{{ end }}
	</div>
</div>

<script 
  type="text/javascript" 
  src="https://cdn.jsdelivr.net/npm/@clappr/player@latest/dist/clappr.min.js"
>
</script>

<script>
  var playerElement = document.getElementById({{ .Get "src" }});

  var player = new Clappr.Player({
    source: {{ .Get "src" }},
    mute: true,
    height: 360,
    width: '100%',
    preload: 'metadata'
  });

  player.attachTo(playerElement);  
</script>
